@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center wrapper" style="display: flex; justify-content: flex-end" >
    <h1 class="display-4">Här kommer lite information kring projektet Berras Bio</h1>
</div>

<a class="a-img">
   <img src="/Content/Images/erdiagram.jpg" alt="myER" class="img-home" />
</a>
